.container{style: "height: 100%"}
  .row{style: "height: 100%"}
    .h1 Command Center
    .col-lg-2
      %h3 Alerts
      .alerts
    .col-lg-10{style: "height: 100%"}
      %h3 Map
      #map-canvas{style: "width: 100%; height: 100%"}